{% extends "base.html" %}
{% block body %}
<h1>Honest Appalachia</h1>
<p>Honest Appalachia is a new organization that aims to promote transparency and accountability in Appalachia. </p>
<p>We are currently developing a new technology platform that we expect to launch sometime in the fall of 2011. In the meantime, we will be <a href="https://blog.honestappalachia.org">posting about the development process here.</a></p>
<p>If you're interested in uploading files to us, <a href="/upload/">visit our upload page.</a></p>
{% endblock %}
