{% extends "base.html" %}
{% block extrahead %}
<script src="/static/pad.js" type="text/javascript"></script>
{% endblock %}

{% block body %}
<noscript>Enable Javascript for enhanced security.</noscript>
<div id="notes"></div>
<div id="tor-check"></div>

{% if client_ip %}
<p>Your IP address appears to be: <strong>{{ client_ip }}</strong></p>
{% else %}
<p>We messed up our server configuration.</p>
{% endif %}

<form enctype="multipart/form-data" method="POST">
  <input type="hidden" name="padding" id="padding" />
  Choose a file to upload: <input name="file" type="file" /><br />
  <input type="submit" value="Upload File" />
</form>

{% endblock %}
